{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/plants/plant-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Plant Collection</h1>
  {% comment %} <img src="{% static 'images/cool-cat.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/happy-cat.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/teacup-cat.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" /> {% endcomment %}
</section>

<section class="card-container">
  {% for plant in plants %}
    <div class="card">
      <a href="{% url 'plant-detail' plant.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/logo-tree.png' %}" 
              alt="A tree"
              class="card-tree"
            >
          </div>
          <h2 class="card-title">{{ plant.name }}</h2>
          <h3>{{ plant.plant_type }}</h3>
          <p>
            {% if not plant.height == 1 %}
              {{ plant.height }} <small>Feet Tall</small> 🍃
            {% else %}
              {{ plant.height }} <small>Foot Tall</small> 🍃
            {% endif %}
            {% if plant.age > 0 %}
              {% if plant.age > 1 %}
                {{ plant.age }} <small>Years Old</small>
              {% else %}
              {{ plant.age }} <small>Year Old</small>
              {% endif %}
            {% else %}
              <small>Seedling</small>
            {% endif %}
          </p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}