.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;
  margin: 10px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: transform 650ms;
}

.card:hover {
  transform: translateY(-5%);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0 0 0;
  font-size: var(--font-xl);
}

.card h3 {
  margin: 10px 0 5px 0;
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}

.card-tree {
  height: 120px;
}

