main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.plant-container {
  width: 600px;
  padding: 35px 30px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  animation: fade-in 1s;
}


@keyframes fade-in {
  0% {
    transform: translateX(15%) translateY(-40%) rotate(20deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0%) translateY(0%) rotate(0deg);
    opacity: 1;
  }
}


.card-tree {
  height: 200px;
}

.plant-img {
  width: 75%;
  max-width: 350px;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.plant-details {
  margin-left: 62px;
}

.plant-actions {
  margin-top: 20px;
}

.plant-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.plant-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.plant-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.plant-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .plant-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .plant-img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }

}

